<div class="container__big-card">
    <div class="big-card__photo">
        <a [routerLink]="['content', Id]">
        <img src="{{photoCover}}"
            alt="" height="400px">
        </a>
    </div>
    <div class="big-card__tittle">
        <a [routerLink]="['content', Id]">
            <h2>{{tittleCover}}</h2>
        </a>
    </div>
    <div class="big-card__subtittle">
        <a [routerLink]="['content', Id]">
            <p>
                {{subCover}}</p>
        </a>
    </div>
</div>