<app-menu-tittle></app-menu-tittle>
<section class="container__section-cards">
    <section class="container__big-card">
        <app-big-card Id="1"
            photoCover="https://sm.ign.com/ign_br/tv/o/one-piece-/one-piece-2_1xby.jpg"
            tittleCover="One Piece"
            subCover="One Piece é um anime que adapta a série de mangá escrita por Eiichiro Oda. A obra de ficção acompanha a história de Monkey D. Luffy, um jovem cujo corpo ganha propriedades elásticas após comer uma 'fruta do diabo'. O protagonista, junto à tripulação dos Piratas do Chapéu de Palha, exploram os mares em busca do tesouro One Piece, o que o fará se tornar o Rei dos Piratas. O mangá é publicado desde 24 de dezembro de 1997 e tem mais de 95 volumes -- além disso, a série é a mais vendida da história, com mais de 473 milhões de cópias em todo o mundo (até maio de 2020)."></app-big-card>
    </section>
    <section class="container__small-card">
        <app-small-card Id="2"
            photoCover="https://www.crunchyroll.com/imgsrv/display/thumbnail/1200x675/catalog/crunchyroll/9daa2f17d7ad2727d72fdeaae6e232de.jpeg"
            titleCover="Attack On Titan - Três amigos se juntam para tentar recuperar o mundo das garras dos Titãs.">
        </app-small-card>
        <app-small-card Id="3"
        photoCover="https://p2.trrsf.com/image/fget/cf/1200/630/middle/images.terra.com/2022/07/01/20220228-elden-ring-berserk-1hrdqd7iqc4l1.jpeg"
            titleCover="Berserk - a história gira em torno de Guts, um solitário mercenário, e Griffith, o líder de um bando de mercenários chamado de 'Bando do Falcão'">
        </app-small-card>
        <app-small-card Id="4"
         photoCover="https://hbomax-images.warnermediacdn.com/images/GXuFMfQuwD5uSkwEAAAth/tile?size=640x360&partner=hbomaxcom&v=7bf8c1f155eb3a13bd7625d8d355a553&host=art-gallery.api.hbo.com&language=pt-br"
            titleCover="Death Note - Light Yagami, um estudante do ensino médio que descobre um caderno sobrenatural chamado Death Note">
        </app-small-card>
    </section>
</section>